<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Control</title>
  <style>
    button {
      padding: 30px;
      margin: 5px;
      font-size: 30px;
    }
    #up, #down {
      margin-left: 70px;
    }
    #start {
      float: right;
    }
  </style>
</head>
<body>
  <button id="start">START</button>
  <br>
  <button id="up">Up</button>
  <br>
  <button id="left">Left</button>
  <button id="right">Right</button>
  <br>
  <button id="down">Down</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
  <script src="../public/js/control-socket.js"></script>
</body>
</html>